{{ define "main" }}

{{ $Pages := .Pages }}

{{ if .IsHome }}
  {{ $Pages = where site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ end }}

{{ if .IsHome }}

<div class="content mdl-grid">
{{- range $i,$p := first 8 $Pages }}
  {{ if (modBool $i 2) }}
  <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
  {{ end }}
  <article class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--2dp">
    <div class="my-card-title mdl-card__media">
      <h3>{{ .Title }}</h3>
    </div>
    <header class="mdl-card__supporting-text">
      {{ if .Date }}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 02, 2006" }}</time>{{ end }}
    </header>
    <div class="mdl-card__supporting-text">
      {{ .Summary }}
    </div>
    <div class="mdl-card__supporting-text">
      <div><a href="{{ .RelPermalink }}" class="mdl-button--accent mdl-button mdl-js-button mdl-js-ripple-effect">read more</a></div>
    </div>
  </article>
  {{ if not (modBool $i 2) }}
  <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
  {{ end }}
{{- end }}

</div>

{{ else }}

  <article>
    <div class="content mdl-grid">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="my-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
        <header><h1>{{ .Title | default "Posts" | humanize }}</h1></header>
        <ul class="archive">
          {{- range $Pages }}
          <li>
            {{ if .Date }}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>{{ end }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
          {{- end }}
        </ul>
        {{ .Content }}
      </div>
    </div>
  </article>

{{ end }}

{{ end }}